@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier Prime", "Courier New", Courier, monospace;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/docs/img/bg-img.jpg");
}

.input-con {
  margin: 50px;
}

.marks-obt {
  padding: 5px;
  border: 1px solid #000;
  outline: 1;
  color: #000;
  text-align: end;
}

h1,
label {
  color: #ddd;
}

::-webkit-input-placeholder {
  color: #ddd;
  font-family: sans-serif;
  font-style: italic;
  font-size: small;
  text-align: left;
}

.result {
  border: 1px solid #ddd;
  margin: 50px;
  color: #ddd;
  text-align: center;
  font-size: 25px;
}
